img.icon {
  float: left;
  margin-left: -35px;
  width: 30px;
  height: 30px;
}

/* Fixes for fixed navbar --------------------------*/

body {
  position: relative;
  padding-top: 90px;
  font-size: 16px;
}

.contents h1, .contents h2 {
  padding-top: 55px;
  margin-top: -45px;
}

.contents h3, .contents h4 {
  padding-top: 35px;
  margin-top: -45px;
}

.page-header {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
}

/* Static header placement on mobile devices */
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: absolute;
  }
}

.navbar-toggle {
  margin-top: 8px;
  margin-bottom: 5px;
}

/* Table of contents --------------------------*/

#sidebar {
  /*
    Needed to avoid bug in sticky-kit:
    https://github.com/leafo/sticky-kit/issues/169
  */
  position:static;
}

#sidebar h2 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

#sidebar .list-unstyled li {
  margin-bottom: 0.5em;
  line-height: 1.4;
}

#sidebar small {
  color: #777;
}

/* Syntax highlighting ---------------------------------------------------- */

pre {
  display: block;
  padding: 10px;
  margin: 0 5px 13.5px 5px;
  font-size: 13px;
  line-height: 1.846;
  word-break: break-all;
  word-wrap: break-word;
  color: #212121;
  background-color: #fafafa;
  border: 0.1px solid #f5f5f5;
  border-radius: 3px;
}

pre code {
    padding: 0;
    font-size: 13px;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    overflow-x: auto;
}

/*
pre {
  word-wrap: normal;
  word-break: normal;
  border: none;
}

pre code {
  background-color: #ftf5f5;
  color: inherit;
  padding: 0;
  font-size: 13px;
  background-color: transparent;
  border-radius: 0;
  overflow-x: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

.sourceCode {
  background-color: #f5f5f5;
  color: inherit;
  padding: 0;
  font-size: 13px;
  background-color: transparent;
  border-radius: 0;
  overflow-x: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
*/

pre .img {
  margin: 5px 0;
}

pre .img img {
  background-color: #fff;
  display: block;
}

code a, pre a {
  color: #375f84;
}

a.sourceLine:hover {
  text-decoration: none;
}

.fl      {color: #1514b5;}
.fu      {color: #000000;} /* function */
.ch,.st  {color: #036a07;} /* string */
.kw      {color: #264D66;} /* keyword */
.co      {color: #777777;} /* comment */

.message { color: black;   font-weight: bolder;}
.error   { color: orange;  font-weight: bolder;}
.warning { color: orange; font-weight: normal;}


/* Status --------------------------- */

.status-container {
  padding-top:32px;
}

.status-container  a {
  display: block;
  margin-bottom: 5px;
}

/* For shrinking navbar ------------------ */

.navbar.shrink {
    min-height: 0;
    padding: 0 0;
    background-size: 32px auto;
}

.navbar-brand.shrink {
    padding: 0 0 0 54px;
    background-size: 32px auto;
    transition-duration: 0.25s;
}

.navbar-label.shrink {
    font-size: 32px;
    transition-duration: 0.25s;
}

/* Reference index & topics ----------------------------------------------- */

.ref-index th {font-weight: normal;}
.ref-index h2 {font-size: 20px;}

.ref-index td {vertical-align: top;}
.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-arguments th {text-align: right; padding-right: 10px;}
.ref-arguments th, .ref-arguments td {vertical-align: top;}
.ref-arguments .name {width: 10%;}
.ref-arguments .desc {width: 90%;}


footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 3px solid #ccc;

  display: flex;
  color: black;
}
footer p {
  margin-bottom: 0;
}
footer .packagePages {
  flex: 1;
}
footer .author {
  flex: 1;
  text-align: right;
}

.row a {
  padding: 0;
  color: #778;
  background-color: transparent;
}

.row a:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.packagePages a {
  padding: 0;
  color: #778;
  background-color: transparent;
}

.author a {
  padding: 0;
  color: #778;
  background-color: transparent;
}

.packagePages a:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.author a:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

/* ---------------------- hover anchor tags */

.hasAnchor {
  margin-left: -30px;
}

a.anchor {
  display:inline-block;
  width: 30px;
  height: 30px;
  visibility: hidden;
  background-image: url(./img/link.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: center bottom;
  transition: visibility 0.3s linear,opacity 0.3s linear,background-position-x 0.3s linear;
  opacity: 0;
}

.hasAnchor:hover a.anchor {
  visibility: visible;
  opacity: 1;
  background-position-x: 0px;
}

/* Tweak appearance of navigation in sidebar ---------------------- */

#sidebar .nav {
  padding-left: 0;
  list-style-type: none;
  color: #5a9ddb;
}

#sidebar .nav > li {
  padding: 10px 0 0 20px;
  display: list-item;
  line-height: 20px;
  background-image: url(./img/tocBullet.svg);
  background-repeat: no-repeat;
  background-size: 16px 280px;
  background-position: left 0;
}

#sidebar .nav > li.active {
  background-position: left -240px;
}

#sidebar a {
  padding: 0;
  color: #778;
  background-color: transparent;
}

#sidebar a:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.fa-github {
  font-size: 28px;
  color: #7c7c7c;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  transition: all 0.35s ease-in-out;
}

.fa-github:hover {
  color: black;
  transition: all 0.35s ease-in-out;
}

.fa-twitter {
  font-size: 28px;
  color: #7c7c7c;
  transition: all 0.35s ease-in-out;
}

.fa-twitter:hover {
  color: #00ACED;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  transition: all 0.35s ease-in-out;
}

/* Clipboard --------------------------*/

.hasCopyButton {
  position: relative;
}

.btn-copy-ex {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.hasCopyButton:hover button.btn-copy-ex {
  visibility: visible;
}
